.App {
  text-align: center;
  min-height: 100vh;
  position: relative;
  background: url(../../images/background.jpg);
}

main {
  padding-top: 120px;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 2;

  .header-left {
    display: flex;
    padding: 25px 35px;

    .logo {
      text-align: left;
      height: 75px;
      padding-right: 15px;
      opacity: .7;
    }
  
    h1 {
      font-family: 'STARWARS', sans-serif;
      color: white;
      margin: 3px 0 -10px 0;
    }

    p {
      color: white;
      opacity: .7;
      margin: -8px 0 0 3px;
      margin-top: -10px;
      font-style: italic;
    }
  }

  .header-right {
    display: flex;
    color: white;
    padding: 25px;
    align-items: center;

    .far,
    .fas {
      margin-right: 5px;
    }

    .header-nav-item {
      opacity: .7;
      margin: 0px 25px;
      font-size: 16px;
      font-weight: 300;

      &:hover {
        opacity: 1;
      }
    }

    .active {
      color: white;
      opacity: 1;
    }
  }
}

.content {
  padding: 0px 40px;
  height: calc(100vh - 140px);
  overflow: hidden;
}
