.category-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.category-header {
  color: white;
  margin-bottom: 25px;
  opacity: .7;
}

.category-options {
  display: flex;
  align-items: center;
}

.category-img {
  height: 80px;
  width: 80px;
  color: white;
}

.category-text {
  color: white;
  font-size: 26px;
  margin: 0;
  margin-top: 10px;
}

.category-card {
  height: 250px;
  width: 250px;
  border: 1px solid white;
  border-radius: 10px;
  opacity: .7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 60px;
  text-decoration: none;

  &:hover {
    opacity: 1;

    .category-img,
    .category-text {
      opacity: 1;
    }
  }
}



